body{
    background-color: black;
    color: white;
}

h1{
    margin: auto;
    margin-top: 25%;
    color: goldenrod;
}

canvas{
    margin: auto;
    margin-top: 50px;
    background-color: darkgray;
}

table{
    margin: auto;
    margin-top: 25px;
}

.btn{
    font-family: monospace;
    font-size: 14px;
    height: 40px;
}

#start{
    background-color: green;
    border: 2px solid green;
}

#pause{
    background-color: red;
    border: 2px solid red;
}

#reset{
    background-color: orange;
    border: 2px solid orange;
}

#output{
    height: 40px;
}

#home_cell{
    padding-left: 20px;
}

#home{
    background-color: navajowhite;
    border: 2px solid navajowhite;
    color: black;
}
